[submodule "bitters"]
	path = 3rd/bitters
	url = https://gitlab.inria.fr/dalu/bitters
[submodule "lvgl"]
	path = 3rd/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "3rd/BME280_SensorAPI"]
	path = 3rd/BME280_SensorAPI
	url = https://github.com/boschsensortec/BME280_SensorAPI/
[submodule "3rd/libmbus"]
	path = 3rd/libmbus
	url = https://github.com/rscada/libmbus
